$color-white: #fff;
$color-black: #000;

$font-clash-display: "Clash Display";
$font-suisse-intl: "Suisse Intl";
$font-roboto: "Roboto";

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$z-indexes: ("navigation", "content");
