@font-face {
  font-family: $font-clash-display;
  src: url("../../fonts/clash-display-extralight.woff2") format("woff2"),
    url("../../fonts/clash-display-extralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-suisse-intl;
  src: url("../../fonts/suisse-intl.woff2") format("woff2"),
    url("../../fonts/suisse-intl.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-suisse-intl;
  src: url("../../fonts/suisse-intl-light.woff2") format("woff2"),
    url("../../fonts/suisse-intl-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-suisse-intl;
  src: url("../../fonts/suisse-intl-ultralight.woff2") format("woff2"),
    url("../../fonts/suisse-intl-ultralight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
