.home {
  @extend %cover;
  @extend %center;

  background: $color-contessa;
  color: $color-quarter-spanish-white;
  text-align: center;
  overflow: hidden;

  &:before,
  &:after {
    content: "";
    height: 24rem;
    width: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
  }

  &:before {
    background: linear-gradient(
      to bottom,
      $color-contessa 0%,
      rgba($color-contessa, 0) 100%
    );
    top: 0;
  }
  &:after {
    background: linear-gradient(
      to top,
      $color-contessa 0%,
      rgba($color-contessa, 0) 100%
    );
    bottom: 0;
  }
}
.home__wrapper {
}
.home__titles {
  @extend %vertical-titles;
}
.home__titles__label {
  @extend %vertical-titles__label;
}
.home__titles__title {
  @extend %vertical-titles__title;
}
.home__gallery {
  @extend %cover;

  visibility: hidden;
}
.home__gallery__media {
  position: absolute;
}
.home__gallery__media__image {
  height: 400px;
  width: 300px;
}
.home__link {
  @extend %description-14;

  align-items: center;
  bottom: 5rem;
  display: flex;
  height: 6rem;
  left: 50%;
  justify-content: center;
  width: 28.8rem;
  transform: translateX(-50%);
  position: absolute;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  z-index: 2;

  @include media("<phone") {
    bottom: 7.5rem;
    width: 55rem;
    height: 13.7rem;
  }
}

.home__link__icon {
  @extend %cover;
}
